.react-collapsible {
  display:   flex;
  flex:      0 0 auto;
  flex-flow: column;
  border:    1px solid black;
  overflow:  hidden;
}

.react-collapsible-label {
  display:       flex;
  flex:          1 1 auto;
  user-select:   none;
  cursor:        pointer;
}

.react-collapsible-content {
  display:       flex;
  flex:          0 0 auto;
  flex-flow:     column;
  border-bottom: 1px solid black;
  border-left:   1px solid black;
  border-right:  1px solid black;
  transition:    max-height 0.2s ease-out;
  margin-top:    -1px;
}
