.react-collapsible {
  display:       flex;
  flex:          0 0 auto;
  flex-flow:     column;
  border-top:    1px solid black;
  border-radius: 2px;
  width:         200px;
  position:      relative;
  overflow:      hidden;
  transition:    max-height 200ms ease-in-out;
}

.react-collapsible-label {
  display:       flex;
  flex:          1 1 auto;
  border-left:   1px solid black;
  border-right:  1px solid black;
  border-bottom: 1px solid black;
  border-radius: 2px;
  user-select:   none;
  cursor:        pointer;
}

.react-collapsible-content {
  border-bottom:           1px solid black;
  border-left:             1px solid black;
  border-right:            1px solid black;
  border-top-left-radius:  2px;
  border-top-right-radius: 2px;
  transition:              max-height 0.2s ease-out;
  margin-top:              -1px;
}
