:root .Component {
  --react-collapsible-internal-speed:      200ms;
  --react-collapsible-internal-max-width:  0px;
  --react-collapsible-internal-max-height: 0px;
}

.Component {
  display:   flex;
  flex:      0 0 auto;
  flex-flow: column;
  border:    1px solid black;
  overflow:  hidden;
}

.Component:global(.collapsible-label) {
  display:       flex;
  flex:          1 1 auto;
  border-bottom: 1px solid black;
  cursor:        pointer;
  user-select:   none;
}

.Component:global(.collapsible-content) {
  display:     flex;
  flex:        0 0 auto;
  flex-flow:   column;
  max-width:   var(--react-collapsible-internal-max-width);
  max-height:  var(--react-collapsible-internal-max-height);
  margin-top:  -1px;
  white-space: nowrap;
  word-break:  keep-all;
  transition:  max-height var(--react-collapsible-internal-speed) ease-out 0ms,
               max-width var(--react-collapsible-internal-speed) ease-out 0ms;
}

.Component:global(.collapsible[data-direction="wboth"][data-collapsed="false"] .collapsible-content),
.Component:global(.collapsible[data-direction="hboth"][data-collapsed="true"] .collapsible-content) {
  transition: max-height var(--react-collapsible-internal-speed) ease-out var(--react-collapsible-internal-speed),
              max-width var(--react-collapsible-internal-speed) ease-out 0ms;
}


.Component:global(.collapsible[data-direction="wboth"][data-collapsed="true"] .collapsible-content),
.Component:global(.collapsible[data-direction="hboth"][data-collapsed="false"] .collapsible-content) {
  transition: max-height var(--react-collapsible-internal-speed) ease-out 0ms,
              max-width var(--react-collapsible-internal-speed) ease-out var(--react-collapsible-internal-speed);
}
