.Component {
  overflow: hidden !important;
  border:   1px solid black;
}

.Component :global(.collapsible-label) {
  border-bottom: 1px solid black;
  cursor:        pointer;
  user-select:   none;
}

.Component :global(.collapsible-content) {
  margin-top: -1px;
}

.Component :global(.collapsible-content-container) {
  min-width: max-content !important;
}
