.Page {
  //display: flex;

  .Sidebar {

  }

  .Content {
    display:      flex;
    flex-flow:    column;
    grid-row-gap: 20px;
    padding:      20px;

    .Collapsible {
      align-self:   flex-start;
      justify-self: flex-start;
    }
  }
}
